@model HomeModel
@{
    ViewData["Title"] = "IGTI - PA";
}

<div class="text-center">
    <h1 class="display-4">Projeto Aplicado da Pós Graduação em Clouding Computer</h1>
    <h1 class="display-14">Bem vindo, @Model.UserName / @Model.UserEmail</h1>        
</div>
