@model ProfileTestModel
@{
    ViewData["Title"] = "Edit Profile";
}

<h1>Profile Test - Edit</h1>
<br />

<form asp-controller="ProfileTest" asp-action="EditProfileTest" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" asp-for="Description" class="form-control" id="Description" placeholder="Description">
    </div>
    <div class="form-group">
        <label for="Repo Type">Repo Type</label>
        <select class="form-control" asp-for="RepoType" id="RepoType">
            <option>Github</option>
            <option>Bitbucket</option>
            <option>Mercurial</option>
            <option>Others</option>
        </select>
    </div>
    <div class="form-group">
        <label for="RepoLink">Repo Link</label>
        <input type="text" asp-for="RepoLink" class="form-control" id="RepoLink" placeholder="Repo Link">
    </div>
    <div class="form-group">
        <label for="ProjectName">Project Path</label>
        <input type="text" asp-for="ProjectName" class="form-control" id="ProjectName" placeholder="Project Path">
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" asp-for="ListEmail" class="form-control" id="ListEmail" placeholder="Email">
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-block">Update</button>
    <a class="btn btn-secondary btn-block" asp-controller="ProfileTest" asp-action="Index" role="button">Cancel</a>
</form>


